language = "kaboom"
run = "npm run server"
entrypoint = "code/main.js"

[packager]
language="nodejs"

[packager.features]
packageSearch = true

[languages.javascript]
pattern = "**/*.{js,ts}"
syntax = "javascript"

[languages.javascript.languageServer]
start = [ "typescript-language-server", "--stdio" ]